@import url(./normalize.css);

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  overflow-x: hidden;
  font-family: "Heebo", sans-serif;
}
